/* layout.component.css */

/* Sidebar general */
.sidebar {
  width: 200px;
  background-color: #343a40;
  min-height: 100vh;
  padding-top: 1rem;
  position: relative;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px; /* Ancho del sidebar colapsado */
}

/* Botón toggle */
.toggle-btn {
  position: absolute;
  top: 20px; /* Ajustamos la posición del botón */
  right: -25px; /* Para que se vea sobre el borde del sidebar */
  z-index: 1000;
  border: none;
  background: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
}
.toggle-btn-collapsed {
  background: #007bff;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;  }

.toggle-btn:hover {
  background: #0056b3;
}

/* Links del sidebar */
.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s; /* Añadir transición suave para el hover */
}

.sidebar.collapsed a {
  justify-content: center;
  padding: 0.5rem 0; /* Ajustamos el padding en el modo colapsado */
}

.sidebar a:hover {
  background-color: #495057;
}

/* Estilo para el enlace activo */
.sidebar a.active {
  background-color: #007bff; /* Color de fondo para el enlace activo */
  color: white; /* Color del texto para el enlace activo */
}

.sidebar a.active:hover {
  background-color: #0056b3; /* Color al pasar el ratón por encima del enlace activo */
}

/* Iconos dentro del sidebar */
.sidebar a i {
  margin-right: 10px;
}

.sidebar.collapsed a i {
  margin-right: 0;
}

/* Para ocultar el texto del sidebar cuando esté colapsado */
.sidebar.collapsed a span {
  display: none;
}

.list-unstyled li {
  list-style-type: none;
}

/* Estilo para la secció*/
.section {
  background-color: #f1f3f5; /* Color de fondo diferente al menú */
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column; /* Alineación vertical */
  align-items: center; /* Centrar elementos */
  text-align: center; /* Centrar texto */
}

/* Estilo para el botón Cambiar */
.change-btn {
  font-size: 0.75rem;
  color: #fff;
  background-color: #007bff; /* Color de fondo amigable */
  padding: 5px 15px;
  border-radius: 5px; /* Forma redondeada del botón */
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.change-btn:hover {
  background-color: #0056b3; /* Cambia el color al hacer hover */
}

.content {
  width: 100%;
}